node_modules
server/node_modules
client/node_modules
server/.wwebjs_auth/
server/database.sqlite
server/*.sqlite
server/*.sqlite-journal
.env
client/.env
server/.env
*.env
server/.wwebjs_cache/
server/.wwebjs_auth/
client/dist/
server/dist/
